<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reco.platform.remote.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.reco.LAUNCHER_RECEIVER" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="reco.platform.remote.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="reco.platform.remote.demo.tv.TvActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.RemoteInstallActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.ModelActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.RemoteConnectActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.RemoteActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.RemoteRequestActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.RemotePushActivity" >
        </activity>
        <activity android:name="reco.platform.remote.demo.phone.RemoteHandleActivity" >
        </activity>
    </application>

</manifest>